.container {
  background: linear-gradient(120deg, #01020b, #01020b);
  color: white;
  min-height: 100vh;
  text-align: center;
  padding: 50px 20px;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 6px;
  background: white;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px white;
  }
  to {
    box-shadow: 0 0 20px white;
  }
}

@media (max-width: 640px) {
  @keyframes glow {
    from {
      box-shadow: 0 0 5px white;
    }
    to {
      box-shadow: 0 0 10px white;
    }
  }

  .timeline::before {
    animation: glow 4s infinite alternate;
  }
}

.timelineItem {
  position: relative;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  left: 0;
  text-align: right;
}

.right {
  left: 50%;
  text-align: left;
}

.timelineItem::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 10px white;
  }
  to {
    box-shadow: 0 0 20px white;
  }
}

@media (max-width: 640px) {
  @keyframes pulse {
    from {
      box-shadow: 0 0 5px white;
    }
    to {
      box-shadow: 0 0 10px white;
    }
  }
}
